{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}Evenements
{% endblock %}

{% block body %}
	<div class="container px-3">
		<div class="columns is-centered mb-5 mt-5">
			<div class="column is-four-fifths">
				<h1 class="is-size-3 is-size-4-touch has-text-primary has-text-weight-bold mb-5">
					<span class="underline-title">Les événements Ici<span class="has-text-secondary">On</span>Parle</span>
				</h1>

				{% include "_includes/loop_events.html.twig" with {
					'events':events,
					'target': true
				}%}
			</div>
		</div>

		<div class="mb-5 mt-5 has-text-centered is-size-5 is-size-6-mobile">Entrez votre email pour être alerté des nouveaux événements !
		</div>

		<div class="columns is-centered mt-5">


			<div class="column is-one-third">
				<div class="email-register mt-5">
					{{ form_start(registeredForm)}}
					<span class="has-text-danger">{{ form_errors(registeredForm.email)}}</span>
					<p class="control has-icons-left has-icons-right">

						{{ form_widget(registeredForm.email,{
							label: false,
							attr: {
								class: "input has-icons-left",
								placeholder: "Entrez votre email"
							}
						})}}

						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
						<button type="submit" class="button is-secondary has-text-white">
							<i class="fas fa-paper-plane"></i>
						</button>
					</p>
					{{form_end(registeredForm)}}

				</div>
			</div>


		</div>


	</div>
{% endblock %}
