<div class="columns mt-5 mb-5 is-multiline">
	{% for event in events %}
		<div class="column is-half is-one-third-fullhd">
			<div class="event-card">
				<div class="text">
					<h4 class="is-size-5 has-text-weight-bold has-text-primary mb-3">
						<span class="underline-title">{{ event.title}}</span>
					</h4>
					<p class="is-size-7">{{ event.description}}</p>
				</div>
				<div class="infos is-size-5 has-text-primary has-text-weight-bold">
					<div class="info">
						{{event.userEvents | length}}
						<span class="has-text-secondary">/</span>
						{{ event.nbMaxUser}}
						<span class="has-text-secondary is-size-8">inscrits</span>
					</div>
					<div class="info">
						<span class="has-text-secondary is-size-8">debut</span>
						{{ event.startDate | date('d', 'Europe/Paris')}}<span class="has-text-secondary">
							/</span>
						{{ event.startDate | date('m', 'Europe/Paris')}}<span class="has-text-secondary">
							/</span>
						{{ event.startDate | date('y', 'Europe/Paris')}}
					</div>
				</div>
				{% if target %}
					<div data-target="modalRegister" onclick="toggleTarget()" class="has-background-primary is-size-5 has-text-weight-bold has-text-centered has-text-white py-2 action">Participer</div>
				{% elseif event.started %}
					<a href="{{ path('app_event_view', {id: event.id})}}" class="has-background-secondary is-size-5 has-text-weight-bold has-text-centered has-text-white py-2 action">Voir</a>
				{% else %}
					{% if registered %}
						<a href="{{ path('app_event_unregister', {id: event.id})}}" class="has-background-primary is-size-5 has-text-weight-bold has-text-centered has-text-white py-2 action">Se désinscrire</a>
					{% else %}
						<a href="{{ path('app_event_register', {id: event.id})}}" class="has-background-primary is-size-5 has-text-weight-bold has-text-centered has-text-white py-2 action">S'inscrire</a>
					{% endif %}

				{% endif %}


			</div>


		</div>

	{% endfor %}
</div>
