<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ asset('build/images/logo.svg') }}"/>
		<title>
			{% block title %}IciOnParle |
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app-css') }}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a class="navbar-item" href="{{ path('index')}}">
						<img class="logo-icon" src="{{ asset('build/images/logo.svg') }}" alt="">
						<span class="logo-text">Ici<span class="has-text-secondary">On</span>Parle</span>
					</a>

					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" onclick="toggleMenu()">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbar" class="navbar-menu">


					<div class="navbar-end">
						<div class="navbar-item">
							<a href="#" class="nav-link">A propos</a>
						</div>
						{% if not app.user %}

							<div class="navbar-item">
								<a href="{{ path('event_viewAll')}}" class="nav-link">Evénements</a>
							</div>
							<div class="navbar-item">
								<a class="button is-primary is-outlined is-small has-text-weight-bold" data-target="modalLogin" onclick="toggleTarget()">
									Connexion
								</a>
							</div>
							<div class="navbar-item">
								<a class="button is-primary is-small has-text-weight-bold" data-target="modalRegister" onclick="toggleTarget()">
									S'inscrire
								</a>
							</div>

						{% else %}
							<div class=" navbar-item">
								<a href="{{ path('app_dashboard')}}" class="nav-link">Evénements</a>
							</div>
							<div class="navbar-item">
								<a href="{{ path('app_logout')}}" class="nav-link">Se déconnecter</a>
							</div>

						{% endif %}


					</div>
				</div>
			</nav>
		</div>
		<div class="container">
			{% for type, messages in app.session.flashBag.all %}
				{% for message in messages %}
					{% if type == 'error'%}
						{% set type = 'danger' %}
					{% endif %}
					<div class="notification is-{{ type }} is-light">
						<button onclick="closeNotification()" class="delete"></button>
						{{ message | raw }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>


		{% set register = false %}
		{% if app.request.get('register') is not null %}
			{% set register = true %}

		{% endif %}
		{% set login = false %}
		{% if app.request.get('login') is not null %}
			{% set login = true %}

		{% endif %}


		{% block body %}{% endblock %}

		<footer></footer>


		{% if not app.user %}

			{% if error is not defined %}
				{% set error = null %}
			{% endif %}

			{% if lastUsername is not defined %}
				{% set lastUsername = null %}
			{% endif %}

			{% include "_modals/login.html.twig" with {
				'error' : error,
				'lastUsername': lastUsername
			
			}%}

			{% include "_modals/register.html.twig"%}
			{% else %}

		{% endif %}


		{% block javascripts %}
			{{ encore_entry_script_tags('app-js') }}
		{% endblock %}
	</body>
</html>
