{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}Dashboard
{% endblock %}

{% block body %}

	{% if userEvents | length > 0 %}
		<h2 class="is-size-4 is-primary mb-3">Je participe</h2>

		{% for event in userEvents %}
			<div>
				<h4>{{ event.title}}
					-
					{{ event.startDate | date("d/m/Y", "Europe/Paris")}}
					-
					{{ event.userEvents | length}}
					/
					{{ event.nbMaxUser}}</h4>
				<p>{{ event.description}}</p>
			</div>
			{% if event.started %}
				<a href="{{ path('app_event_view', {id: event.id})}}">Voir</a>
			{% else %}
				<a href="{{ path('app_event_unregister', {id: event.id})}}">Se désinscrire</a>
			{% endif %}

			<br>
			=========================================================
			<br><br>
		{% endfor %}
	{% endif %}
	{% if events | length > 0 %}
		<h2 class="is-size-4 is-primary mb-3">Les événements IciOnParle</h2>

		{% for event in events %}
			<div>
				<h4>{{ event.title}}
					-
					{{ event.startDate | date("d/m/Y", "Europe/Paris")}}
					-
					{{ event.userEvents | length}}
					/
					{{ event.nbMaxUser}}</h4>
				<p>{{ event.description}}</p>
			</div>
			<a href="{{ path('app_event_register', {id: event.id})}}">S'inscrire</a><br>
			=========================================================
			<br><br>
		{% endfor %}
	{% endif %}


{% endblock %}
