{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ event.title }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app-event-view-css') }}
{% endblock %}

{% block body %}
	{% set tab = tab is not defined ? app.request.get('tab') : tab %}

	<div class="container px-3">
		<div class="tabs is-centered">
			<ul>
				<li class="{{ tab == 'pad' or tab is null ? 'is-active'}}">

					<a data-target="pad" onclick="toggleTab()">
						<span data-target="pad" class="icon is-small">
							<i class="fas fa-file-alt" aria-hidden="true"></i>
						</span>
						<span>Pad</span>
					</a>
				</li>
				<li class="{{ tab == 'infos' ? 'is-active'}}">
					<a data-target="infos" onclick="toggleTab()">
						<span class="icon is-small">
							<i class="fas fa-info-circle" aria-hidden="true"></i>
						</span>
						<span>Infos</span>
					</a>
				</li>
				<li class="{{ tab == 'library' ? 'is-active'}}">
					<a data-target="library" onclick="toggleTab()">
						<span class="icon is-small">
							<i class="fas fa-book" aria-hidden="true"></i>
						</span>
						<span>Bibliothèque</span>
					</a>
				</li>
				{% for user in group.users %}
					<li class="{{ tab == 'teammate{{loop.index}}' ? 'is-active'}}">
						<a data-target="teammate{{loop.index}}" onclick="toggleTab()">
							<span class="icon is-small">
								<i class="fas fa-user" aria-hidden="true"></i>
							</span>
							<span>{{ user.firstname ~ ' ' ~ user.lastname | slice(0, 1) ~ '.'}}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="tabs-content">
			<section id="pad" class="{{ tab == 'pad' or tab is null ? 'is-active'}}">
				{% include "/app/event/tabs/pad.html.twig" %}
			</section>
			<section class="{{ tab == 'infos' ? 'is-active'}}" id="infos">

				{% include "/app/event/tabs/infos.html.twig" %}

			</section>

			<section class="{{ tab == 'library' ? 'is-active'}}" id="library">

				{% include "/app/event/tabs/library.html.twig" %}

			</section>

			{% for user in group.users %}
				<section class="{{ tab == 'teammate' ~ loop.index ? 'is-active'}}" id="teammate{{loop.index}}">
					{% include "/app/event/tabs/teammate.html.twig" %}
				</section>
			{% endfor %}
		</div>

	</div>


	{% include "_modals/add-source.html.twig" with {
		'sourceForm': sourceForm
	} %}
{% endblock %}
