{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}
{% endblock %}

{% block body %}
	<div class="tabs is-centered">
		<ul>
			<li class="{{ app.request.get('tab') == 'pad' or app.request.get('tab') is null ? 'is-active'}}">
				<a data-target="pad" onclick="toggleTab()">Pad</a>
			</li>
			<li class="{{ app.request.get('tab') == 'info' ? 'is-active'}}">
				<a data-target="info" onclick="toggleTab()">Info</a>
			</li>
			<li class="{{ app.request.get('tab') == 'library' ? 'is-active'}}">
				<a data-target="library" onclick="toggleTab()">Bibliothèque</a>
			</li>
			{% for user in group.users %}
				<li class="{{ app.request.get('tab') == 'teammate{{loop.index}}' ? 'is-active'}}">
					<a data-target="teammate{{loop.index}}" onclick="toggleTab()">{{ user.firstname ~ ' ' ~ user.lastname | slice(0, 1) ~ '.'}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="tabs-content">
		<section id="pad" class="{{ app.request.get('tab') == 'pad' or app.request.get('tab') is null ? 'is-active'}}">
			<iframe id="embed-etherpad" name="embed_readwrite" src="{{ app.request.getSchemeAndHttpHost() }}:9001/p/{{ group.etherpadPadId}}" frameborder="0"></iframe>

		</section>
		<section class="{{ app.request.get('tab') == 'info' ? 'is-active'}}" id="info">
			<h1>{{ event.title }}
				-
				{{ event.startDate | date("d/m/Y", "Europe/Paris")}}</h1>

			<p>{{ event.description}}</p>

		</section>

		<section class="{{ app.request.get('tab') == 'library' ? 'is-active'}}" id="library">
			<h1 class="is-size-2 is-primary mb-4">Bibliothèque</h1>

			{% for source in event.sources  %}
				<div class="mb-3">
					<div class="is-size-4">{{ source.title | capitalize }}</div>
					<div>
						<a target="_blank" href="{{ source.link}}">{{ source.link | capitalize }}</a>
					</div>
				</div>


			{% endfor %}

			<button data-target="modalAddSource" onclick="toggleTarget()" class="button is-primary is-outlined">Ajouter une source</button>
		</section>

		{% for user in group.users %}
			<section class="{{ app.request.get('tab') == 'teammate' ~ loop.index ? 'is-active'}}" id="teammate{{loop.index}}">
				{{ user.firstname }}
				{{ user.lastname }}
				{{ user.email}}

				<div class="has-background-white">{{ user.getFinalTextFromStep(event.getPreviousStep) | raw}}</div>
			</section>
		{% endfor %}
	</div>

	{% include "modals/add-source.html.twig" %}


{% endblock %}
